
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Name
                </th>
                <th scope="col" class="py-3 px-6">
                    Date of Birth
                </th>
                <th scope="col" class="py-3 px-6">
                    Gender
                </th>
                <th scope="col" class="py-3 px-6">
                    Type of services
                </th>
                <th scope="col" class="py-3 px-6">
                    Gender Comment
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700" *ngFor="let patient of patients">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ patient.name }}
                </th>
                <td class="py-4 px-6">
                    {{ patient.dob | ddMmYYYYDate }}
                </td>
                <td class="py-4 px-6">
                    {{ patient.gender }}
                </td>
                <td class="py-4 px-6">
                    {{ patient.typeofservices}}
                </td>
                <td class="py-4 px-6 text-right">
                    {{ patient.Generalcomment }}
                </td>
            </tr>
          
        </tbody>
    </table>
</div>

